body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    margin: 0;
    background-color: #0f4c75;
}

.container {
    display: inline;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    max-width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.dropdown-btn {
    width: 100%;
    max-width: 200px;
    display: block;
    color: #0f4c75;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    border: none;
    font-size: 100%;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-btn.active{
    background-color: #0f4c75;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #def0fb;
    padding-left: 8px;
}
li a {
    display: block;
    color: #0f4c75;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0f4c75;
    color: white;
}

li a:hover:not(.active) {
    background-color: #0f4c75;
    color: white;
}

.top {
    font-size: 250%;
    color:#bbe1fa;
    text-align: left;
    margin-bottom: 20px;
}

p {
    color: #def0fb; 
    font-size: 125%;
}

.word {
    display: inline;
    font-size: 120%;
    color: #def0fb;
    margin-right: 10px;
}

select {
    color: #0f4c75; 
    font-size: 120%;
    font-family: 'Overpass', sans-serif;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

option {
    color: #0f4c75; 
    font-size: 100%;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #bbe1fa;

    margin-top: 10px;
}

#right{
    margin: 0;
    margin-left: 25%;
    padding: 20px;
}

#form {
    margin-left: 25%;
    height: auto;
    min-width: 100px;
    max-width: 400px;
    padding: 20px 30px;
    background-color: #0f4c75;
}

#form input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#form input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #D0D0D0;
}

#form button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #bbe1fa;

    margin-top: 10px;
}

#form button:hover {
    background-color: #3282b8;
    color:#bbe1fa;
}

table {
    background-color: #f1f1f1; 
    margin:0;
    padding: 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

th {
    border-top: 2px solid #0f4c75;
    border-bottom: 2px solid #0f4c75;
    padding: 10px;
    text-align: left;
}
td {
    padding: 5px;
    border-bottom: 1px solid #0f4c75;
}
