<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>OwnerSeIn</servlet-name>
        <servlet-class>controler.ownerServlets.OwnerSeIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OwnerSeIn</servlet-name>
        <url-pattern>/OwnerSeIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApptSe</servlet-name>
        <servlet-class>controler.apptConsultServlets.ApptSe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApptSe</servlet-name>
        <url-pattern>/ApptSe</url-pattern>
    </servlet-mapping>
</web-app>
